<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cianm.testauth">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Entity.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterUser"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.CheckValidation" />
        <activity android:name=".Activity.ResetPassword" />
        <activity android:name=".ManagerHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CreateTeam"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".JoinTeam" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB-e-hxr2zDS46MlUeFc35cX0worzqkbIs" />

        <activity
            android:name=".CreateEvent"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PlayerHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.SelectTeam" />
        <activity android:name=".ViewEvent" />
        <activity android:name=".Activity.ViewIndividualTraining" />
        <activity android:name=".Activity.ViewIndividualFixture" />
        <activity android:name=".Activity.ViewAttendeesTraining" />
        <activity android:name=".Activity.ViewAttendeesFixture" />
        <activity android:name=".Activity.FixtureRating" />
        <activity android:name=".Activity.TrainingRating"/>
    </application>

</manifest>